OpenGL/.vs/OpenGL/v16/.suo
OpenGL/.vs/OpenGL/v16/Browse.VC.db
OpenGL/.vs/OpenGL/v16/Browse.VC.db-shm
OpenGL/.vs/OpenGL/v16/Browse.VC.db-wal
OpenGL/.vs/OpenGL/v16/Browse.VC.opendb
OpenGL/OpenGL/x64/Debug/OpenGL.log
OpenGL/OpenGL/x64/Debug/vc142.idb
OpenGL/OpenGL/x64/Debug/vc142.pdb
OpenGL/OpenGL/x64/Debug/OpenGL.tlog/CL.read.1.tlog
OpenGL/OpenGL/x64/Debug/OpenGL.tlog/CL.write.1.tlog
OpenGL/OpenGL/x64/Debug/OpenGL.tlog/link.read.1.tlog
OpenGL/OpenGL/x64/Debug/OpenGL.tlog/link.write.1.tlog
OpenGL/x64/Debug/OpenGL.ilk
OpenGL/x64/Debug/OpenGL.pdb
OpenGL/x64/Debug/OpenGL.exe
